$gutter-min-width: 1.6rem;
$content-max-width: 1024px;

.main-layout {
    display: grid;
    min-height: 100dvh;
    align-items: start;
    grid-template-rows: auto 1fr auto;

    .app-header,
    footer,
    main {
        display: grid;
        grid-template-columns: minmax($gutter-min-width, 1fr) minmax(auto, $content-max-width) minmax($gutter-min-width, 1fr);

        & > * {
            grid-column: 2;

        }
    }

    main .full {
        grid-column: 1/-1;
    }
}

.container {
    max-width: 800px;
    padding: 1em;
    margin: auto;
}
